@page

@model MusicApp.Pages.Bands.IndexModel
@{
    ViewData["Title"] = "Bands";
}

<a asp-page="./Create">Add a Band</a>

<form method="get">
    <table>
        <tbody>
            <tr>
                <th><label for="SearchTerm">Search</label></th>
                <td><input type="search" name="SearchTerm" id="SearchTerm" value="@Model.SearchTerm"></td>
            </tr>
            <tr>
                <th><label for="SortColumn">Sort by</label></th>
                <td>
                    <select asp-for="SortColumn" asp-items="Model.SortColumnList">
                        <option></option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit">Search</button>
</form>

<table class="band-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(b => b.Bands[0].Name)</th>
            <th>@Html.DisplayNameFor(b => b.Bands[0].Genre)</th>
            <th>@Html.DisplayNameFor(b => b.Bands[0].YearFormed)</th>
            <th>@Html.DisplayNameFor(b => b.Bands[0].AverageRating)</th>
            <th>@Html.DisplayNameFor(b => b.Bands[0].Albums)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var band in Model.Bands)
        {
            <tr>
                <td><a asp-page="./Details" asp-route-id="@band.ID">@band.Name</a></td>
                <td>@band.Genre</td>
                <td>@band.YearFormed</td>
                @if(band.AverageRating == 0 || band.AverageRating == null)
                {
                    <td>This band does not yet have a rating</td>
                }
                else
                {
                    <td>@band.AverageRating</td>
                }
                @*TODO: eventuellt länka albums till details*@
                <td>
                    @foreach (var album in band.Albums)
                    {
                        @album.Name<br />
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@band.ID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@band.ID">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
