@page
@model MusicApp.Pages.Musicians.IndexModel
@{
    ViewData["Title"] = "Musician";
}

<a asp-page="./Create">Add a Musician</a>
<table class="band-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(b => b.Musician[0].Name)</th>
            <th>@Html.DisplayNameFor(b => b.Musician[0].BirthDay)</th>
            <th>@Html.DisplayNameFor(b => b.Musician[0].Country)</th>
            <th>@Html.DisplayNameFor(b => b.Musician[0].Band)</th>



            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var musician in Model.Musician)
        {
            <tr>
                <td><a asp-page="./Details" asp-route-id="@musician.ID">@musician.Name</a></td>
                <td>@musician.BirthDay.ToShortDateString()</td>
                <td>@musician.Country</td>
                <td>@musician.Band.Name</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@musician.ID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@musician.ID">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
